---
import Layout from "../layouts/layout.astro"
import HeroContent from "../components/heroContent.astro"
import Posts from "../components/posts.astro"
import { type CollectionEntry, getCollection } from "astro:content";

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort((a,b) => b.data.pubdate.valueOf() - a.data.pubdate.valueOf());
---

<Layout>
	<div class=`bg-[url('/img/bg-index.jpg')] hero-main-div`>
		<HeroContent hero_heading="My Blog" hero_sub_heading="A Blog Theme by Karlo Espanol" />
	</div>
	<Posts allBlogArticles={allBlogArticles}/>
	<div class="cust-container mb-5">
        <div class="w-2/3 mx-auto">
			<a href="/posts" class="px-7 py-3 text-white bg-slate-800 rounded-md">See all Posts</a>
		</div>
	</div>
</Layout>
