---
import Layout from "../../layouts/layout.astro";
import BlogHeroContent from "../../components/blogHeroContent.astro"
import Section from "../../components/section.astro"
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const allBlogPosts: CollectionEntry<'blog'>[] = await getCollection('blog');

    return allBlogPosts.map(entry => ({ 
        params: {
            slug: entry.slug
        },

        props: { entry }
    }))
}

const { entry } = Astro.props;

const {heading, sub_heading, author, pubdate, img } = entry.data;
const { Content } = await entry.render();
---

<Layout>
    <div class=`bg-[url('/img/bg-index.jpg')] hero-main-div`>
        <BlogHeroContent heading={heading} sub_heading={sub_heading} author={author} pubdate={pubdate} />
    </div>
    <Section>
        <div class="cust-container">
            <div class="w-4/6 mx-auto">
                <Content />
            </div>
        </div>
    </Section>
</Layout>