---
import Layout from "../../layouts/layout.astro"
import Header from "../../components/header.astro"
import HeroContent from "../../components/heroContent.astro"

---

<Layout>
	<Header />
	<!--Hero section -->
	<div class=`bg-[url('/img/bg-post.jpg')] hero-main-div`>
		<HeroContent hero_heading="Posts" hero_sub_heading="My posts" />
	</div>
</Layout>