---
import Layout from "../../layouts/layout.astro"
import HeroContent from "../../components/heroContent.astro"
import Posts from "../../components/posts.astro"

---

<Layout>
	<!--Hero section -->
	<div class=`bg-[url('/img/bg-post.jpg')] hero-main-div`>
		<HeroContent hero_heading="Posts" hero_sub_heading="My posts" />
	</div>
	<Posts />
</Layout>