---
import Layout from "../layouts/layout.astro"
import Header from "../components/header.astro"
import HeroContent from "../components/heroContent.astro"

---

<Layout>
	<Header />
	<div class=`bg-[url('/img/bg-contact.jpg')] hero-main-div`>
		<HeroContent hero_heading="Contact Me" hero_sub_heading="Have questions? I have answers." />
	</div>
</Layout>