---
const {hero_heading, hero_sub_heading } = Astro.props;
---

<div class="cust-container relative z-[2]">
    <div class="text-center text-white">
        <h1 class="text-7xl font-bold mb-3">{hero_heading}</h1>
        <p class="text-xl">{hero_sub_heading}</p>
    </div>
</div>
