---
const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props;

interface Props {
    currentPage: number, 
    totalPages: number, 
    disablePrevious: boolean;
    disableNext: boolean;
}
---

<div class="cust-container mb-5">
    <div class="w-2/3 mx-auto">
        <div class="flex justify-between">
            <a href={`/posts?page=${(currentPage - 1)}`} class={`${disablePrevious ? 'inline-block bg-gray-100 px-3 py-2 text-gray-400 rounded-lg pointer-events-none': ""} px-7 py-2 text-white bg-slate-800 rounded-md`}>Prev</a>
            <a href={`/posts?page=${(currentPage + 1)}`} class={`${disableNext ? "inline-block bg-gray-100 px-3 py-2 text-gray-400 rounded-lg pointer-events-none" : ""} px-7 py-2 text-white bg-slate-800 rounded-md`}>Next</a>
        </div>
    </div>
</div>