---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	.cust-container {
        @apply w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px]  mx-auto px-4;
    }

	.beforeContent::before {
        content: "";
        background-color: black;
        position: absolute;
        inset: 0;
        opacity: 0.8;
        color: #313131;
    }
</style>